{% load static %}
<html>
<head>
    <title></title>
    <meta>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation.css" %}">
</head>
<body>
    <h1><center> Главная </center></h1>
    <hr/>
    <div class="large-3 columns panel">
        <h5>Menu: </h5>
        <hr/>
        <li><a href="/">Главная</a></li>
        <br/>
        <li><a href="srv_info/">О сервере</a></li>
        <br/>
        <li><a href="exp/">Эксперементариум</a></li>
    </div>
    
    <div class="large-9 columns">
        <h3><center>Окно вывода</center></h3>
        <h6>Название и что-то что делает команда</h6>
        <div class="row">
            <div class="large-9 columns">
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
            </div>
            <div class="large-3 columns">
                <img src="http://placehold.it/400x240&text=[img]" />
            </div>
        </div>
    </div>
</body>
</html>
