{% extends 'main.html' %}
{% load static %}
{% block main %}
    <div class="large-10 columns">                                              
        <h3><center> {{ name_page }} </center></h3>                             
        <!-- Здесь название и что делает команда из базы и программы -->        
        <h6><i> {{ desc_page }} </i></h6>                                       
        <!--        <div class="row"> -->                                       
            <div class="large-9 columns">                                       
                123                                                             
                <!-- Тут текст на страницу -->                                  
                <p>123</p>                                                      
            </div>                                                              
            <div class="large-3 columns">                                       
                <!-- Боковушка для всякой хуйни, типа превью -->                
                <img src="http://placehold.it/400x240&text=[img]" />            
            </div>                                                              
            <!--  </div> -->                                                    
    </div> 
{% endblock %}
